@import "tailwindcss";

:root {
  --white: #FFFFFF;
  --black: #12161C;
}

@theme inline {
  --color-white: var(--white);
  --color-foreground: var(--black);
}
html{
  background-color: var(--white);
}
  
body {
  color: var(--black);
  font-family: var(--font-suisse-intl), sans-serif;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}


